# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [18]:
pip install pandas

Requirement already satisfied: pandas in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [50]:
# Assignment 1: DataFrame Creation and Indexing
import numpy as np
import pandas as pd
#     Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
print("Without entering the columns value")
df = pd.DataFrame(np.random.randint(0,10,size=(6,4)))
print("Original DataFrame")
#  BY default the index will be  0 onwards
print(df)


print("\nWith entering the columns value")
df = pd.DataFrame(np.random.randint(0,10,size=(6,4)),columns = ["A",'B','C','D'])
print("DataFrame")
#  BY default the index will be  0 onwards
print(df)


# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)


if 0 in df.index: # check if the index exists.
    row_0 = df.loc[0]
    print("Row with index 0:")
    print(row_0)
else:
    print("0 is not in the index")

Without entering the columns value
Original DataFrame
   0  1  2  3
0  9  9  9  8
1  0  7  2  3
2  9  5  8  0
3  6  6  9  6
4  7  7  1  2
5  9  4  1  7

With entering the columns value
DataFrame
   A  B  C  D
0  0  6  4  1
1  5  9  3  6
2  5  7  5  6
3  3  8  9  3
4  4  2  6  1
5  3  4  2  3
DataFrame with new index:
   B  C  D
A
0  6  4  1
5  9  3  6
5  7  5  6
3  8  9  3
4  2  6  1
3  4  2  3
Row with index 0:
B    6
C    4
D    1
Name: 0, dtype: int64

In [62]:
#     Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'.
#     Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
df = pd.DataFrame(np.arange(1,10).reshape(3,3), columns = ['A','B','C'], index = ['X','Y','Z'])
print('Original DataFrame')
print(df)

# print(df.loc['Y','B'])
df.loc['Y','B'] = np.random.randint(1,5)
print('\nDataFrame after filling with random integrers')
print(df.loc['Y','B'])

Original DataFrame
   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

DataFrame after filling with random integrers
4

In [72]:
# Assignment 2: DataFrame Operations

#     Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
#     Add a new column that is the product of the first two columns.
df = pd.DataFrame(np.random.randint(1,16,size=(5,3)),columns = ['A','B','C'])
print('Original DataFrame')
print(df)

df['D'] = df['A'] * df['B']
print('\nAdding a new column that is thr product of the first two columns')
print(df)

Original DataFrame
    A   B  C
0   4   6  9
1   6  14  7
2  14  11  4
3   1  12  6
4   4   4  5

Adding a new column that is thr product of the first two columns
    A   B  C    D
0   4   6  9   24
1   6  14  7   84
2  14  11  4  154
3   1  12  6   12
4   4   4  5   16

In [84]:
#     Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df = pd.DataFrame(np.random.randint(1,13,size=(4,3)), columns = ['A','B','C'], index = ['V','W','X','Y'])
print('Original DataFrame')
print(df)

#  for row wise sum put axis = 1
print('\nSum Row wise')
col_sum = df.sum(axis = 1)
print(col_sum)

#  for column wise sum put axis = 0
print('\nSum COlumn')
row_sum = df.sum(axis = 0)
print(row_sum)

Original DataFrame
    A   B  C
V   9   1  9
W   2  12  1
X   8   6  8
Y  10   7  3

Sum Row wise
V    19
W    15
X    22
Y    20
dtype: int64

Sum COlumn
A    29
B    26
C    21
dtype: int64

In [90]:
# Assignment 4: Data Aggregation

#     Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'.
#     Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers.
#     Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
dataframe = {
    'Category' :np.random.choice(['A','B']),
    'Value' :['3','5','2']
}
df = pd.DataFrame(dataframe)

  Category Value
0        A     3
1        B     5
2        C     2

In [88]:
#     Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'.
#     Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.