# Module 3: Data Structures Assignments
## Lesson 3.2: Tuples
### Assignment 1: Creating and Accessing Tuples

Create a tuple with the first 10 positive integers. Print the tuple.

### Assignment 2: Accessing Tuple Elements

Print the first, middle, and last elements of the tuple created in Assignment 1.

### Assignment 3: Tuple Slicing

Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.

### Assignment 4: Nested Tuples

Create a nested tuple representing a 3x3 matrix and print the matrix. Access and print the element at the second row and third column.

### Assignment 5: Tuple Concatenation

Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.

### Assignment 6: Tuple Methods

Create a tuple with duplicate elements and count the occurrences of an element. Find the index of the first occurrence of an element in the tuple.

### Assignment 7: Unpacking Tuples

Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.

### Assignment 8: Tuple Conversion

Convert a list of the first 5 positive integers to a tuple. Print the tuple.

### Assignment 9: Tuple of Tuples

Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.

### Assignment 10: Tuple and List

Create a tuple with the first 5 positive integers. Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.

### Assignment 11: Tuple and String

Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.

### Assignment 12: Tuple and Dictionary

Create a dictionary with tuple keys and integer values. Print the dictionary.

### Assignment 13: Nested Tuple Iteration

Create a nested tuple and iterate over the elements, printing each element.

### Assignment 14: Tuple and Set

Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.

### Assignment 15: Tuple Functions

Write functions that take a tuple and return the minimum, maximum, and sum of the elements. Print the results for a sample tuple.

In [8]:
# Assignment 1: Creating and Accessing Tuples

# Create a tuple with the first 10 positive integers. Print the tuple.
positive_integer_tuple = tuple(range(1,11))
print(positive_integer_tuple)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [16]:
# Assignment 2: Accessing Tuple Elements

# Print the first, middle, and last elements of the tuple created in Assignment 1.
print(positive_integer_tuple[0])
print(positive_integer_tuple[-1])
print(positive_integer_tuple[4])

1
10
5

In [26]:
# Assignment 3: Tuple Slicing

# Print the first three elements, the last three elements, and the elements from index 2 to 5 of the tuple created in Assignment 1.
print(positive_integer_tuple[0:3])
print(positive_integer_tuple[2:5])
print(positive_integer_tuple[10:6:-1])

(1, 2, 3)
(3, 4, 5)
(10, 9, 8)

In [32]:
# Assignment 4: Nested Tuples

# Create a nested tuple representing a 3x3 matrix and print the matrix.
# Access and print the element at the second row and third column.

matrix_tuple = (
    (1,2,3),
    (4,5,6),
    (7,8,9)
)

print('Matrix: ')
for row in matrix_tuple:
    print(row)

print(f'Accessing the second row and third column: {matrix_tuple[1][2]}')

Matrix:
(1, 2, 3)
(4, 5, 6)
(7, 8, 9)
Accessing the second row and third column: 6

In [36]:
# Assignment 5: Tuple Concatenation

# Concatenate two tuples: (1, 2, 3) and (4, 5, 6). Print the resulting tuple.
tuple1 = (1,2,3)
tuple2 = (4,5,6)

tuple_concatenation = tuple1 + tuple2
print(tuple_concatenation)

(1, 2, 3, 4, 5, 6)

In [40]:
# Assignment 6: Tuple Methods

# Create a tuple with duplicate elements and count the occurrences of an element.
# Find the index of the first occurrence of an element in the tuple.

tuple1 = (1,2,3,4,3,4,3,2,3)
print(f'Occurrence of 4: {tuple1.count(4)}')
print(f'Index of the first occurrence of element 4: {tuple1.index(4)}')

Occurrence of 4: 2
Index of the first occurrence of element 4: 3

In [52]:
# Assignment 7: Unpacking Tuples

# Create a tuple with 5 elements and unpack it into 5 variables. Print the variables.
tuple1 = ('Nikesh','24','A','Pokhara','Nepal')
name, age, grade, city, country = tuple1
print(f'Name: {name}')
print(f'Age: {age}')
print(f'Grade: {grade}')
print(f'City: {city}')
print(f'Country: {country}')

Name: Nikesh
Age: 24
Grade: A
City: Pokhara
Country: Nepal

In [56]:
# Assignment 8: Tuple Conversion

# Convert a list of the first 5 positive integers to a tuple. Print the tuple.
positive_integer_list = list(range(1,6))
print(positive_integer_list)

positive_integer_tuple = tuple(positive_integer_list)
print(positive_integer_tuple)

[1, 2, 3, 4, 5]
(1, 2, 3, 4, 5)

In [58]:
# Assignment 9: Tuple of Tuples

# Create a tuple containing 3 tuples, each with 3 elements. Print the tuple of tuples.
nested_tupl1 = ((1,2,3),(4,5,6),(3,6,4))
print(nested_tupl1)

((1, 2, 3), (4, 5, 6), (3, 6, 4))

In [83]:
# Assignment 10: Tuple and List

# Create a tuple with the first 5 positive integers.
# Convert it to a list, append the number 6, and convert it back to a tuple. Print the resulting tuple.
tuple1 = tuple(range(1,6))
print(tuple1)
list_integer = list(tuple1)
print(list_integer)

list_integer.append(6)
print(list_integer)

final_tuple = tuple(list_integer)
print(final_tuple)

(1, 2, 3, 4, 5)
[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 6]
(1, 2, 3, 4, 5, 6)

In [87]:
# Assignment 11: Tuple and String

# Create a tuple with the characters of a string. Join the tuple elements into a single string. Print the string.
string = "Nikesh"
tuple_string = tuple(string)
print(tuple_string)

tuple_join = ''.join(tuple_string)
print(tuple_join)

('N', 'i', 'k', 'e', 's', 'h')
Nikesh

In [95]:
# Assignment 12: Tuple and Dictionary

# Create a dictionary with tuple keys and integer values. Print the dictionary.
dict_var = {
    (1,2):2,
    (4,3):4,
    (6,7):4
}
print(dict_var)

{(1, 2): 2, (4, 3): 4, (6, 7): 4}

In [97]:
# Assignment 13: Nested Tuple IterationÂ¶

# Create a nested tuple and iterate over the elements, printing each element.
nested_tuple = ((1,2),(4,5),(6,7))

for tpl in nested_tuple:
    print(tpl)

(1, 2)
(4, 5)
(6, 7)

In [99]:
# Assignment 14: Tuple and Set

# Create a tuple with duplicate elements. Convert it to a set to remove duplicates and print the resulting set.
tuple_var = (1,2,3,4,5,3,4)

tpl_to_set = set(tuple_var)
print(tpl_to_set)

{1, 2, 3, 4, 5}