# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.
2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.
2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.
2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.
2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.
2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [78]:
pip install pandas

Requirement already satisfied: pandas in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in /home/nikeshgamal/anaconda3/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [79]:
# Assignment 1: DataFrame Creation and Indexing
import numpy as np
import pandas as pd
#     Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.
print("Without entering the columns value")
df = pd.DataFrame(np.random.randint(0,10,size=(6,4)))
print("Original DataFrame")
#  BY default the index will be  0 onwards
print(df)


print("\nWith entering the columns value")
df = pd.DataFrame(np.random.randint(0,10,size=(6,4)),columns = ["A",'B','C','D'])
print("DataFrame")
#  BY default the index will be  0 onwards
print(df)


# Set the index to be the first column
df.set_index('A', inplace=True)
print("DataFrame with new index:")
print(df)


if 0 in df.index: # check if the index exists.
    row_0 = df.loc[0]
    print("Row with index 0:")
    print(row_0)
else:
    print("0 is not in the index")

Without entering the columns value
Original DataFrame
   0  1  2  3
0  4  4  3  2
1  3  5  2  2
2  4  9  1  1
3  1  0  2  9
4  2  2  5  1
5  5  0  5  3

With entering the columns value
DataFrame
   A  B  C  D
0  5  3  6  2
1  5  6  0  4
2  1  6  9  8
3  1  5  1  3
4  1  0  0  0
5  0  1  9  0
DataFrame with new index:
   B  C  D
A
5  3  6  2
5  6  0  4
1  6  9  8
1  5  1  3
1  0  0  0
0  1  9  0
Row with index 0:
B    1
C    9
D    0
Name: 0, dtype: int64

In [80]:
#     Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'.
#     Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.
df = pd.DataFrame(np.arange(1,10).reshape(3,3), columns = ['A','B','C'], index = ['X','Y','Z'])
print('Original DataFrame')
print(df)

# print(df.loc['Y','B'])
df.loc['Y','B'] = np.random.randint(1,5)
print('\nDataFrame after filling with random integrers')
print(df.loc['Y','B'])

Original DataFrame
   A  B  C
X  1  2  3
Y  4  5  6
Z  7  8  9

DataFrame after filling with random integrers
2

In [81]:
# Assignment 2: DataFrame Operations

#     Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
#     Add a new column that is the product of the first two columns.
df = pd.DataFrame(np.random.randint(1,16,size=(5,3)),columns = ['A','B','C'])
print('Original DataFrame')
print(df)

df['D'] = df['A'] * df['B']
print('\nAdding a new column that is thr product of the first two columns')
print(df)

Original DataFrame
    A   B   C
0   6  13   3
1   7   7  11
2   3   7   4
3   1   6   9
4  15  15  13

Adding a new column that is thr product of the first two columns
    A   B   C    D
0   6  13   3   78
1   7   7  11   49
2   3   7   4   21
3   1   6   9    6
4  15  15  13  225

In [82]:
#     Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.
df = pd.DataFrame(np.random.randint(1,13,size=(4,3)), columns = ['A','B','C'], index = ['V','W','X','Y'])
print('Original DataFrame')
print(df)

#  for row wise sum put axis = 1
print('\nSum Row wise')
col_sum = df.sum(axis = 1)
print(col_sum)

#  for column wise sum put axis = 0
print('\nSum COlumn')
row_sum = df.sum(axis = 0)
print(row_sum)

Original DataFrame
   A  B  C
V  7  5  6
W  7  5  6
X  5  7  8
Y  1  5  4

Sum Row wise
V    18
W    18
X    20
Y    10
dtype: int64

Sum COlumn
A    20
B    22
C    24
dtype: int64

In [83]:
# Assignment 3: Data Cleaning

#     Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. 
#     Fill the NaN values with the mean of the respective columns.
df = pd.DataFrame(np.random.randint(1,16,size=(5,3)), columns = ['A','B','C'])
print(df)

# Introduce some NaN values
df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

print("DataFrame with NaN values filled:")
df.fillna(df.mean(),inplace = True)
print(df)

    A   B   C
0  13  11   8
1  13  12  15
2  10   6   1
3   3  15   7
4   6  14   3
DataFrame with NaN values:
      A     B     C
0  13.0   NaN   8.0
1  13.0  12.0  15.0
2  10.0   6.0   NaN
3   3.0  15.0   7.0
4   NaN  14.0   3.0
DataFrame with NaN values filled:
       A      B      C
0  13.00  11.75   8.00
1  13.00  12.00  15.00
2  10.00   6.00   8.25
3   3.00  15.00   7.00
4   9.75  14.00   3.00

In [84]:
#     Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers.
#     Introduce some NaN values. Drop the rows with any NaN values.
df = pd.DataFrame(np.random.randint(1,25,size=(6,4)), columns = ['A','B','C','D'])
print(df)

#introduct some NaN values
df.iloc[0,1] = np.nan
df.iloc[1,3] = np.nan
df.iloc[2,1] = np.nan
df.iloc[3,3] = np.nan
print("\nDataFrame with NaN values:")
print(df)

print("\nFilling up NaN values with median values:")
df2 = df.fillna(df.median(),inplace=False)
print(df)
print(df2)

    A   B   C   D
0   8   3   6  11
1   4   8  19   5
2   9  23   5  23
3   5   4  11   1
4  15  20   7   8
5  21  13   8   1

DataFrame with NaN values:
    A     B   C     D
0   8   NaN   6  11.0
1   4   8.0  19   NaN
2   9   NaN   5  23.0
3   5   4.0  11   NaN
4  15  20.0   7   8.0
5  21  13.0   8   1.0

Filling up NaN values with median values:
    A     B   C     D
0   8   NaN   6  11.0
1   4   8.0  19   NaN
2   9   NaN   5  23.0
3   5   4.0  11   NaN
4  15  20.0   7   8.0
5  21  13.0   8   1.0
    A     B   C     D
0   8  10.5   6  11.0
1   4   8.0  19   9.5
2   9  10.5   5  23.0
3   5   4.0  11   9.5
4  15  20.0   7   8.0
5  21  13.0   8   1.0

In [85]:
# Assignment 4: Data Aggregation

#     Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'.
#     Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers.
#     Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.
dataframe = {
    'Category' :np.random.choice(['A','B','C'],size = 10),
    'Value' :np.random.randint(1,15,size=10)
}
df = pd.DataFrame(dataframe)
print(df)


print('\nCategorical Sum Values:')
grouped_sum = df.groupby('Category')['Value'].sum()
print(grouped_sum)

print('\nCategorical Mean Values:')
grouped_mean = df.groupby('Category')['Value'].mean()
print(grouped_mean)


print('\nCategorical Mean and sum Values:')
grouped = df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped)

  Category  Value
0        A      3
1        B      5
2        B     13
3        B     11
4        A     11
5        C      8
6        B      9
7        B     13
8        A     11
9        C      6

Categorical Sum Values:
Category
A    25
B    51
C    14
Name: Value, dtype: int64

Categorical Mean Values:
Category
A     8.333333
B    10.200000
C     7.000000
Name: Value, dtype: float64

Categorical Mean and sum Values:
          sum       mean
Category
A          25   8.333333
B          51  10.200000
C          14   7.000000

In [86]:
#     Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'.
#     Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.
df = pd.DataFrame({'Product':np.random.choice(['ProdA','ProdB','ProdC'],size=10),'Category':np.random.choice(['A','B','C'],size=10),'Sales':np.random.randint(500,1500,size = 10)})
print(df)

# grouped_sales = df.groupby(['Product','Category'])['Sales'].sum()
grouped_sales = df.groupby('Category')['Sales'].sum()
print('\n\nTotal Sales on Product & Category')
print(grouped_sales)

  Product Category  Sales
0   ProdC        B    960
1   ProdA        C    675
2   ProdB        C    914
3   ProdA        B   1464
4   ProdC        B    968
5   ProdA        B    936
6   ProdC        B    882
7   ProdC        C    581
8   ProdC        B   1162
9   ProdA        C    813


Total Sales on Product & Category
Category
B    6372
C    2983
Name: Sales, dtype: int64

In [106]:
# Assignment 5: Merging DataFrames

#     Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.
df1 = pd.DataFrame({
    'Keys':['A','B','C','D'],
    'Value1':np.random.randint(1,100,size=4)
})

df2 = pd.DataFrame({
    'Keys':['A','B','C','D'],
    'Value2':np.random.randint(1,100,size=4)
})
print('First DataFrames:')
print(df1)
print('\nSecond DataFrames:')
print(df2)

#Merge dataframes on key
merged_dataframe = pd.merge(df1,df2,on='Keys')
print('\nMerged Datafram on Keys')
print(merged_dataframe)

First DataFrames:
  Keys  Value1
0    A      78
1    B      81
2    C      13
3    D      83

Second DataFrames:
  Keys  Value2
0    A       3
1    B      90
2    C      74
3    D       7

Merged Datafram on Keys
  Keys  Value1  Value2
0    A      78       3
1    B      81      90
2    C      13      74
3    D      83       7

In [112]:
#     Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.
df1 = pd.DataFrame({
    'Keys':['A','B','C','D'],
    'Value1':np.random.randint(1,100,size=4)
})

df2 = pd.DataFrame({
    'Keys':['A','B','C','D'],
    'Value2':np.random.randint(1,100,size=4)
})
print('First DataFrame:')
print(df1)
print('\nSecond DataFrame:')
print(df2)

# Concatenate the DataFrames along the rows
concat_rows = pd.concat([df1, df2], axis=0)
print("Concatenated DataFrame (rows):")
print(concat_rows)

# Concatenate the DataFrames along the columns
concat_columns = pd.concat([df1, df2], axis=1)
print("Concatenated DataFrame (columns):")
print(concat_columns)

First DataFrame:
  Keys  Value1
0    A      40
1    B      84
2    C      37
3    D      40

Second DataFrame:
  Keys  Value2
0    A       7
1    B      25
2    C      80
3    D      79
Concatenated DataFrame (rows):
  Keys  Value1  Value2
0    A    40.0     NaN
1    B    84.0     NaN
2    C    37.0     NaN
3    D    40.0     NaN
0    A     NaN     7.0
1    B     NaN    25.0
2    C     NaN    80.0
3    D     NaN    79.0
Concatenated DataFrame (columns):
  Keys  Value1 Keys  Value2
0    A      40    A       7
1    B      84    B      25
2    C      37    C      80
3    D      40    D      79

In [136]:
# Assignment 6: Time Series Analysis

# Create a Pandas DataFrame with a datetime index and one column filled with random integers
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='W')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0, 100, size=(len(date_rng)))
df.set_index('date', inplace=True)
print("Original DataFrame:")
print(df)

# Resample the DataFrame to compute the monthly mean of the values
monthly_mean = df.resample('ME').mean()
print("Monthly mean DataFrame:")
print(monthly_mean)

Original DataFrame:
            data
date
2022-01-02     0
2022-01-09     4
2022-01-16    35
2022-01-23    45
2022-01-30    61
2022-02-06    64
2022-02-13    92
2022-02-20     8
2022-02-27    71
2022-03-06    33
2022-03-13     3
2022-03-20    39
2022-03-27    53
2022-04-03     6
2022-04-10    16
2022-04-17    48
2022-04-24    30
2022-05-01    49
2022-05-08     9
2022-05-15    72
2022-05-22    38
2022-05-29    58
2022-06-05    22
2022-06-12    47
2022-06-19    28
2022-06-26    78
2022-07-03    99
2022-07-10    13
2022-07-17     1
2022-07-24    30
2022-07-31    71
2022-08-07    51
2022-08-14    49
2022-08-21    87
2022-08-28    54
2022-09-04     5
2022-09-11    92
2022-09-18    87
2022-09-25    76
2022-10-02    14
2022-10-09    85
2022-10-16    56
2022-10-23    73
2022-10-30    73
2022-11-06    58
2022-11-13    80
2022-11-20    35
2022-11-27    14
2022-12-04    19
2022-12-11    66
2022-12-18    51
2022-12-25    68
Monthly mean DataFrame:
             data
date
2022-01-31  29.00
2022-02-28  58.75
2022-03-31  32.00
2022-04-30  25.00
2022-05-31  45.20
2022-06-30  43.75
2022-07-31  42.80
2022-08-31  60.25
2022-09-30  65.00
2022-10-31  60.20
2022-11-30  46.75
2022-12-31  51.00

In [176]:
#     Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' 
#     and one column filled with random integers. Compute the rolling mean with a window of 7 days.
date_rnge = pd.date_range(start='2021-01-01', end = '2021-12-31' ,freq='W')
# print(date_rnge,)
df = pd.DataFrame(date_rng, columns=['date'])
df['data']=  np.random.randint(1,100,size =(len(date_rnge)))
df.set_index('date', inplace=True)
print('\nOriginal DataFrame')
print(df)

print('\nOne column filled with random integers. Compute the rolling mean with a window of 7 days.')
rolling_mean = df.rolling(window = 7).mean()
print(rolling_mean)

Original DataFrame
            data
date
2021-01-03    97
2021-01-10    77
2021-01-17    10
2021-01-24    28
2021-01-31     7
2021-02-07    33
2021-02-14    90
2021-02-21    17
2021-02-28    77
2021-03-07    17
2021-03-14    35
2021-03-21    90
2021-03-28    82
2021-04-04    36
2021-04-11     2
2021-04-18    57
2021-04-25    24
2021-05-02    81
2021-05-09    49
2021-05-16    11
2021-05-23    66
2021-05-30    79
2021-06-06    27
2021-06-13    13
2021-06-20    18
2021-06-27    65
2021-07-04    51
2021-07-11    13
2021-07-18    53
2021-07-25    16
2021-08-01    27
2021-08-08    12
2021-08-15    31
2021-08-22    27
2021-08-29    14
2021-09-05    58
2021-09-12    35
2021-09-19    70
2021-09-26    98
2021-10-03    17
2021-10-10    30
2021-10-17    44
2021-10-24     3
2021-10-31    22
2021-11-07    34
2021-11-14    24
2021-11-21    18
2021-11-28     6
2021-12-05    37
2021-12-12    44
2021-12-19    53
2021-12-26    92

One column filled with random integers. Compute the rolling mean with a window of 7 days.
                 data
date
2021-01-03        NaN
2021-01-10        NaN
2021-01-17        NaN
2021-01-24        NaN
2021-01-31        NaN
2021-02-07        NaN
2021-02-14  48.857143
2021-02-21  37.428571
2021-02-28  37.428571
2021-03-07  38.428571
2021-03-14  39.428571
2021-03-21  51.285714
2021-03-28  58.285714
2021-04-04  50.571429
2021-04-11  48.428571
2021-04-18  45.571429
2021-04-25  46.571429
2021-05-02  53.142857
2021-05-09  47.285714
2021-05-16  37.142857
2021-05-23  41.428571
2021-05-30  52.428571
2021-06-06  48.142857
2021-06-13  46.571429
2021-06-20  37.571429
2021-06-27  39.857143
2021-07-04  45.571429
2021-07-11  38.000000
2021-07-18  34.285714
2021-07-25  32.714286
2021-08-01  34.714286
2021-08-08  33.857143
2021-08-15  29.000000
2021-08-22  25.571429
2021-08-29  25.714286
2021-09-05  26.428571
2021-09-12  29.142857
2021-09-19  35.285714
2021-09-26  47.571429
2021-10-03  45.571429
2021-10-10  46.000000
2021-10-17  50.285714
2021-10-24  42.428571
2021-10-31  40.571429
2021-11-07  35.428571
2021-11-14  24.857143
2021-11-21  25.000000
2021-11-28  21.571429
2021-12-05  20.571429
2021-12-12  26.428571
2021-12-19  30.857143
2021-12-26  39.142857

In [203]:
# Assignment 7: MultiIndex DataFrame

#     Create a Pandas DataFrame with a MultiIndex (hierarchical index). 
#     Perform some basic indexing and slicing operations on the MultiIndex DataFrame.
array = [['A','A','B','B'],['one','two','one','two']]
index = pd.MultiIndex.from_arrays(array , names = ('Category','SubCategory'))
df  = pd.DataFrame(np.random.randint(0,100,size = (4,3)), columns = ['Value 1','Value 2','Value 3'], index = index)
print(df)

print('\nCategory A Data:')
print(df.loc['A'])

print('\nCategory B-->two Data:')
print(df.loc['B','two'])

                      Value 1  Value 2  Value 3
Category SubCategory
A        one               93       23        2
         two               72       14       14
B        one               40       60       35
         two                7       60       57

Category A Data:
             Value 1  Value 2  Value 3
SubCategory
one               93       23        2
two               72       14       14

Category B-->two Data:
Value 1     7
Value 2    60
Value 3    57
Name: (B, two), dtype: int64

In [233]:
#     Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'.
#     Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.
array = [['A','A','B','B','A','B'],['one','two','one','two','one','two']]
index = pd.MultiIndex.from_arrays(array , names = ('Category','SubCategory'))
df  = pd.DataFrame(np.random.randint(0,20,size = (6,3)), columns = ['Value 1','Value 2','Value 3'], index = index)
print('\nOriginal DataFrame')
print(df)

sum_category = df.groupby('Category').sum()
print(sum_category)

sum_subcategory = df.groupby('SubCategory').sum()
print(sum_subcategory)

print('\nBoth Operations once:')
sum_values = df.groupby(['Category','SubCategory']).sum()
print(sum_values)

Original DataFrame
                      Value 1  Value 2  Value 3
Category SubCategory
A        one                6       15        6
         two               12       14       11
B        one                2        2        9
         two                8       10       12
A        one                3        7        2
B        two                8       13        5
          Value 1  Value 2  Value 3
Category
A              21       36       19
B              18       25       26
             Value 1  Value 2  Value 3
SubCategory
one               11       24       17
two               28       37       28

Both Operations once:
                      Value 1  Value 2  Value 3
Category SubCategory
A        one                9       22        8
         two               12       14       11
B        one                2        2        9
         two               16       23       17

In [235]:
# Create a DataFrame with a MultiIndex
array = [['A', 'A', 'B', 'B', 'A', 'B'], ['one', 'two', 'one', 'two', 'one', 'two']]
index = pd.MultiIndex.from_arrays(array, names=('Category', 'SubCategory'))
df = pd.DataFrame(np.random.randint(1, 10, size=(6, 3)), columns=['Value 1', 'Value 2', 'Value 3'], index=index)

print("\nOriginal DataFrame:")
print(df)

# Group by 'Category' and sum
sum_category = df.groupby('Category').sum()
print("\nSum by Category:")
print(sum_category)

# Group by 'SubCategory' and sum
sum_subcategory = df.groupby('SubCategory').sum()
print("\nSum by SubCategory:")
print(sum_subcategory)

# Group by both 'Category' and 'SubCategory' and sum
sum_values = df.groupby(['Category', 'SubCategory']).sum()
print("\nSum by Category and SubCategory:")
print(sum_values)

# # Calculate the mean of the original dataframe
# mean_original = df.mean()
# print('\nMean of original dataframe:')
# print(mean_original)

# #calculate the mean of the sum_values dataframe
# mean_sum_values = sum_values.mean()
# print('\nMean of sum_values dataframe:')
# print(mean_sum_values)

Original DataFrame:
                      Value 1  Value 2  Value 3
Category SubCategory
A        one                4        3        4
         two                7        2        1
B        one                7        3        2
         two                3        2        2
A        one                5        4        5
B        two                8        1        2

Sum by Category:
          Value 1  Value 2  Value 3
Category
A              16        9       10
B              18        6        6

Sum by SubCategory:
             Value 1  Value 2  Value 3
SubCategory
one               16       10       11
two               18        5        5

Sum by Category and SubCategory:
                      Value 1  Value 2  Value 3
Category SubCategory
A        one                9        7        9
         two                7        2        1
B        one                7        3        2
         two               11        3        4

In [252]:
# Assignment 8: Pivot Tables
# Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'
date_rng = pd.date_range(start='2022-01-01', end='2022-01-10', freq='D')
df = pd.DataFrame({'Date': np.random.choice(date_rng, size=20), 'Category': np.random.choice(['A', 'B', 'C'], size=20), 'Value': np.random.randint(1, 100, size=20)})
print("Original DataFrame:")
print(df)

# Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'
pivot_table = df.pivot_table(values='Value', index='Date', columns='Category', aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

Original DataFrame:
         Date Category  Value
0  2022-01-01        C     37
1  2022-01-06        C      9
2  2022-01-08        C     39
3  2022-01-07        A     35
4  2022-01-02        A     33
5  2022-01-09        B     81
6  2022-01-04        C     40
7  2022-01-09        C     76
8  2022-01-06        A     83
9  2022-01-03        B     35
10 2022-01-02        A     59
11 2022-01-01        B     28
12 2022-01-05        A     68
13 2022-01-08        B     38
14 2022-01-07        A     82
15 2022-01-09        A     14
16 2022-01-04        C     54
17 2022-01-04        A     10
18 2022-01-04        C     64
19 2022-01-04        A     19
Pivot Table:
Category        A     B      C
Date
2022-01-01    NaN  28.0   37.0
2022-01-02   92.0   NaN    NaN
2022-01-03    NaN  35.0    NaN
2022-01-04   29.0   NaN  158.0
2022-01-05   68.0   NaN    NaN
2022-01-06   83.0   NaN    9.0
2022-01-07  117.0   NaN    NaN
2022-01-08    NaN  38.0   39.0
2022-01-09   14.0  81.0   76.0

In [256]:
#     Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. 
df  = pd.DataFrame({
    'Year': np.random.choice(['2021','2022','2023'],size = 12), 
    'Quarter': np.random.choice(['Q1','Q2','Q3','Q4'],size = 12),
    'Revenue': np.random.randint(1,1500,size = 12)
})

print(df)
#     Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.
pivot_table = df.pivot_table(values = 'Revenue', index = 'Year', columns = 'Quarter', aggfunc = 'mean')
print(pivot_table)

    Year Quarter  Revenue
0   2022      Q4      930
1   2022      Q3      332
2   2022      Q1       11
3   2023      Q3     1463
4   2021      Q4      489
5   2021      Q4      709
6   2021      Q1      471
7   2023      Q1       13
8   2022      Q1     1244
9   2023      Q4       87
10  2023      Q3     1348
11  2021      Q1      190
Quarter     Q1      Q3     Q4
Year
2021     330.5     NaN  599.0
2022     627.5   332.0  930.0
2023      13.0  1405.5   87.0

In [282]:
# Assignment 9: Applying Functions

#     Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. 
#     Apply a function that doubles the values of the DataFrame.
df = pd.DataFrame(np.random.randint(0,16,size=(5,3)))
print('Original DataFrame')
print(df)

double_value = df.map(lambda num:2*num) # map() instead of applymap() as applymap() is deprecated
print('\nDouble Valued DataFrame')
print(double_value)

Original DataFrame
    0   1   2
0   3   0   6
1   4   9   2
2   7   7   9
3   9  12   2
4  14  15  14

Double Valued DataFrame
    0   1   2
0   6   0  12
1   8  18   4
2  14  14  18
3  18  24   4
4  28  30  28

In [300]:
#     Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers.
#     Apply a lambda function to create a new column that is the sum of the existing columns.

df = pd.DataFrame(np.random.randint(0,16,size=(5,3)))
print('Original DataFrame')
print(df)

df['Sum'] = df.apply(lambda row:row.sum(), axis = 1)
print('\nDataFrame after insertion of new column')
print(df)

Original DataFrame
    0   1   2
0   6   2   3
1  15   3   7
2   6  13   5
3  15   5  11
4   5   8  12

DataFrame after insertion of new column
    0   1   2  Sum
0   6   2   3   11
1  15   3   7   25
2   6  13   5   24
3  15   5  11   31
4   5   8  12   25

In [310]:
# Assignment 10: Working with Text Data
#     Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.
text_data = pd.Series(['apple','banana','carrot','mango','papaya'])
print('Original Series')
print(text_data)

upper_text = text_data.str.upper()
print('\nUpper Case Series')
print(upper_text)
#     Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.
first_three_char = text_data.str[:3]
print('\nFirst three characters')
print(first_three_char)

Original Series
0     apple
1    banana
2    carrot
3     mango
4    papaya
dtype: object

Upper Case Series
0     APPLE
1    BANANA
2    CARROT
3     MANGO
4    PAPAYA
dtype: object

First three characters
0    app
1    ban
2    car
3    man
4    pap
dtype: object